This project is a latest version of Expo SDK 52 React Native. Which means that it has an experimental feature called "React Native Server Components" and "React Native Server Components".
Every file that doesnt have "use client" is a server component, which means that it's rendered in a Node.js environment, I fetch data directly in the server component but I can not use any React hooks or any other client side code.